__pycache__/
*.py[cod]
.DS_Store
.AppleDouble
.LSOverride
._*
.ruff_cache/
.env
.env.*
.code/
.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
.tox/
.venv/
build/
coverage.xml
dist/
htmlcov/
*.override.*
*.egg-info/
odoo.*.cfg
odoo.*.conf
